@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap');

  *{
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      }

body {
  font-family: 'Chakra Petch', sans-serif;
  color: #000;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color:rgba(0,0,0,0.1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb9922;
}


.container {
	margin: 0 auto;
}

.hailo{
	color:#eb9922;
}

header {
	display: block;
	height: 100px;
	margin-bottom: 30px;
	width: 100%;
	margin: 0 auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background-color: #fff;
}
header.shrink {
    height: 70px;
}

header.shrink nav.topnav{
	padding: 20px 30px;
}

header img {
	margin: 10px 0 0 60px;
	float: left;
	height: 80px;
}

header.shrink img  {
	height:60px;
}

.topnav {
	float: right;
	width: 50%;
	padding: 40px 30px;
	font-size: 1.4em;
	text-align: right;
}

nav a {
	padding-left: 30px;
	text-decoration: none;
	color:#000;
}

span a {
	text-decoration:none;
	color:#000;
	padding-left: 30px;
}
span a:hover,
span a.current {
	color:#eb9922;
}

nav a:hover,
a.current {
	color:#eb9922;
}

.portfolio a{
	text-decoration:none;
	color:#000;
	padding-left: 30px;
}

.portfolio a:hover,
.portfolio a.current{
	color:#eb9922
}

.jumbotron {
  background: url(../assets/jumbotron.png);
  margin-top: 100px;
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
border: 1px solid rgba(0,0,0,0);
}

.typing {
  font-size: 80px;
  width: 7ch;
  animation: typing 2s steps(7), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  margin-top: 160px;
  margin-left: 80px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

img[src="assets/dots.svg"]{
	height:50px;
	width:100px;
	position: relative;
	left: 46.5vw;
	margin-top: 40px;
	margin-bottom: 40px;
}

.about {
	width: 70%;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.6;
}

.about p {
	margin-left: 50px;
	max-width: 400px;
}

.about img {
	margin-left: 60px;
}

hr {
border: 1px solid #eb9922;
width: 50%;
opacity: 1;
margin: 0 auto;
}

.portfolio {
	text-align: center;
	margin-bottom: 20px;
}

.portfolio a {
	font-size: 24px;
}

#content {
	margin: 40px auto;
	width: 80%;
	margin-bottom: 300px;
}

.container .gallery {
	width: 100%;
  height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #eb9922;
}

.overlay-wrapper {
	position: relative;
}

.overlay-wrapper:hover .overlay {
	opacity: 1;
}

h1,h2,h3,header {
overflow-y:hidden;

}

.services {
	width: 80%;
	margin: 30px auto;
	margin-bottom: 100px;
}

.services img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 40px;
}
.services p {
	max-width: 300px;
	line-height: 1.6;
	text-align: justify;
	margin: 0 auto;
}
.btn {
	width: 200px;
	height:70px;
position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 24px;
  background-color: #000;
  border: none;
}
.btn:hover{
	background-color:#ccc;
	color: #eb9922;
}

.modalbutton {
	width: 200px;
	height:70px;
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
  	margin-top: 30px;
  	margin-bottom: 40px;
  	font-size: 24px;
  	background-color: rgb(232, 232, 232);
	color: #eb9922;
  	border: none;
	border-radius: 20px;
}
.modalbutton:hover{
	background-color:#fff;
	color: #000;
}

.text {
	margin-top:20%;
	color:#fff;
}

#sendMessageButton {
	margin-top: 450px;
	margin-bottom: 200px;
}

.modal-body{
	color:#7b7b7b;
	padding: 15px 0;
}

.modal-footer{
	padding: 15px 0;
} 



/* About */

.portrait {
	height:300px; 
	width: auto; 
	border-radius: 50%;
}

/* Footer */

.footer-info {
	padding: 60px 0;
	text-align: center;
	margin-top: 120px;
	/* border-top: 1px solid #e3e3e3; */
}

footer a {
	font-size: 28px;
	padding: 0 16px;
}

footer a, footer a:link {
	text-decoration: none;
	color: #777;
}

footer a:hover {
	color:#eb9922;
	transition: ease 0.5s;
}

/*Contact*/

.form .button, .form .label, .form .textarea, .form .text-input {
	padding: 1em 1.5em;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	outline: none;
	line-height: normal;
	border: 1px solid transparent;
	border-radius: 0;
  }
  
  .form .textarea, .form .text-input {
	font: inherit;
	line-height: normal;
	width: 100%;
	box-sizing: border-box;
	display: block;
	padding-left: 0;
	border-bottom-color: rgba(0, 0, 0, 0.3);
	background: transparent;
	outline: none;
	color: black;
  }
  .form .textarea:placeholder, .form .text-input:placeholder {
	color: rgba(0, 0, 0, 0.7);
  }
  .form .textarea:-webkit-autofill, .form .text-input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px white inset;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
  }
  .form .error.textarea, .form .error.text-input, .error .form .textarea, .form .error .textarea, .error .form .text-input, .form .error .text-input {
	border-color: transparent transparent red transparent;
  }
  .form:not(.has-floated-label) .textarea:active, .form:not(.has-floated-label) .text-input:active, .form:not(.has-floated-label) .textarea:focus, .form:not(.has-floated-label) .text-input:focus {
	border-color: transparent transparent black transparent;
  }
  
  .form .label {
	position: absolute;
	z-index: 10;
	pointer-events: none;
	padding-left: 0;
	overflow: hidden;
  }
  
  .form .label {
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0.7);
	transition: color 0.3s;
  }
  .active .form .label, .form .active .label {
	font-size: 0.75em;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0;
	color: rgba(0, 0, 0, 0.7);
	background: white;
  }
  .focus .form .label, .form .focus .label {
	color: black;
  }
  
  .form.has-floated-label .field:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 1px solid black;
	transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  .form.has-floated-label .field.focus:after {
	width: 100%;
  }
  
  .form .button {
	font: inherit;
	line-height: normal;
	cursor: pointer;
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1428571429em;
	overflow: hidden;
  }
  .form .button:hover, .form .button:focus, .form .button:active {
	color: white;
	background: black;
  }
  .form .button:active {
	position: relative;
	top: 1px;
	left: 1px;
  }
  
  .form {
	max-width: 50em;
	margin: 0 auto;
	padding: 1em 2em;
	box-sizing: border-box;
	overflow: hidden;
  }
  .form .field {
	position: relative;
	width: 100%;
	margin-bottom: 1.5em;
	float: left;
  }
  @media screen and (min-width: 40em) {
	.form .field.half {
	  width: calc(50% - 2em);
	  margin-right: 2em;
	}
	.form .field.half + .half {
	  margin-left: 2em;
	  margin-right: 0;
	}
  }
  .form .field:last-child {
	float: right;
	width: auto;
  }
  .form .textarea {
	max-width: 100%;
  }
  svg path {
	fill: black;
  }
  

@media only screen and (max-width: 1024px){

	.nav-logo {
		width: 50%;
		height: 50%;
		margin: 0px;
		float: none;
	}

	nav a {
		padding-left: 10px;
	}

	.jumbotron{
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.about p {
		margin-left: 0px;
	}

	.about img {
		display: block;
		margin: 0px auto;
		height: 200px;
	}

	.portfolio a {
		font-size: 20px;
		padding-left: 10px;
	}

	.typing {
  		font-size: 30px;
  		margin-top: 300px;
  		margin-left: 20px;
  	}

  	.header{
  		height: 50px;
  		margin-bottom: 0px;
  	}

	.hailo{
		color: #000;
	}

	.topnav {
		display: inline;
		font-size: 15px;
		float: none;
		text-align: right;
		margin-top: 10px;
	}

	.services p{
		margin-bottom: 30px;
	}

	#contact {
		width: 100%;
	}

	input {
		width: 100px;
	}

	#sendMessageButton {
		margin-top: 60px;
		margin-bottom: 200px;
	}

img[src="assets/dots.svg"]{
	position: relative;
	left: 39vw;
}

}

input {
	width:500px;
	height: 50px;
	padding: 15px 10px;
}